/* GENERAL STYLING FOR THE SITE
	REMEMBER:
		Use relative positioning and percentages as often as possible and design for mobile first.
		READ ARTICLES!
*/
body{
	background-color: #e0e4cc;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	width:100%;
	right:0px;
	left:60px;
	background-color: #FFFFF0;
	box-shadow: 3px 0px 4px #666666;
}

#main {
	width:100%;
	right:0px;
	left:0px;
	margin-top:300px; /* Set this to the height of the header */

    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}


/* SETS THE HEADER */
header{
	height:300px;
	left:0px; /* Set this to the same as #mySidenav width */
	right:0px;
	top:0px;
	position:fixed;
	z-index:5;
    background-image: url("../resources/banners/header-ps.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300px;
	color:white;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}


header h1, header h3{
	color: white;
	letter-spacing: 12px;
	text-decoration: underline;
	text-align:center;
}



/* SETS THE FOOTER VALUES */
footer {
	height:150px;
	float:bottom;

	background-color: black;
	color:white;
	border-top: 1px darkgray solid;
	font-size: small;
	font-style: italic;
	text-align: center;
}

/* ANCHOR STYLING */
a {
	color:white;
	text-decoration: none;
}

.banner img{
	width:100%;
}


.content {
	padding: 50px 50px 50px 50px;
	text-align: left;
	background-color: #73e1e7;
	height:300px;
}

#index-content{
	height:400px;
}
